<h1>Welcome to the checkpoint homepage!</h1>
<% @items.each do |item| %>
<h4> <%= link_to "#{item.name}", item %></h4>
<ul>
  <li> <%= item.description %> </li>
  <li> <div style="height: 20px; width: 20px; border: 1px solid black; background-color: <%= item.color %>; display: inline-block"> </div> </li>
</ul>
<% end %>
<%= link_to 'New item', new_item_path %>
